@using Models.Base;
@model DetailsManagementVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradiant ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create New Data With Value</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input asp-for="@Model.Type" hidden />
            <input asp-for="@Model.Data.Id" hidden />
            <div class="border p-3 mt-4">
                <div class="form-floating py-2 col-12">
                    <input asp-for="@Model.Data.Value" class="form-control border-0 shadow" />
                    <label asp-for="@Model.Data.Value" class="ms-2"></label>
                    <span asp-validation-for="@Model.Data.Value" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Add New Data</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Details" asp-action="Index" class="btn btn-outline-primary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>