@model List<ConcertInfo>


<section class="py-5">
    <div class="container px-4 px-lg-8 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-3  justify-content-center">
            
                @foreach(var concert in Model.OrderByDescending(x=>x.Id))
                {
                    <div class="card col-3 h-100 m-5">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">@concert.Date.ToShortDateString()</div>
                        <!-- Product image-->
                        <img class="card-img-top" src="https://images.unsplash.com/photo-1540039155733-5bb30b53aa14?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8Y29uY2VydHxlbnwwfHwwfHx8MA%3D%3D" alt="@concert.Title" />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                            <h4 class="fw-bolder ">@concert.Title</h4>
                                
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>

                                <div class="row fw-bolder ">                                    
                                    <h5 >@concert.MusicGenre.Value</h5>
                                </div>

                                <div class="row fw-bolder">                                   
                                    <h5>@concert.City.Value</h5>
                                </div>
                                
                               

                                <!-- Product price-->
                                <h3>Price @concert.TicketPrice PLN</h3>

                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a asp-controller="ConcertInfo" asp-action="Details" asp-route-concertId="@concert.Id" class="btn btn-secondary mx-2">
                                    <i class="bi bi-pen"></i> See more details
                                </a>                                
                            </div>
                        </div>
                    </div>
                }
                
            
        </div>
    </div>
</section>