@model ConcertPerformancesVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-dark ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Performance List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">        
        <div class="row mb-4">
            <a asp-controller="Performance" asp-action="Create" asp-route-concertId="@Model.ConcertId" class="btn btn-dark">
                <div class="btn text-white"><i class="bi bi-plus-circle"></i> Add Performance</div>
            </a>
        </div>
        <div class="row mb-4">
            <a asp-controller="ConcertInfo" asp-action="Edit" asp-route-concertId="@Model.ConcertId" class="btn btn-dark form-control">
                Back to Concert Edit
            </a>
        </div>
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>
                        Artist Name
                    </th>
                    <th>
                        Start Hour
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var performance in Model.Performances)
                {
                    <tr>
                        <td>
                            @performance.Artist.Value
                        </td>
                        <td>
                            @performance.StartHour
                        </td>

                        <td class="col-2">
                            <div class="d-flex align-items-center justify-content-center" role="group">
                                <a asp-controller="Performance" asp-action="Edit" asp-route-performanceId="@performance.Id" class="btn btn-dark mx-2">
                                    <i class="bi bi-pen"></i> 
                                </a>
                                <a asp-controller="Performance" asp-action="Delete" asp-route-performanceId="@performance.Id" class="btn btn-danger mx-2">
                                     X
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>